<div *ngIf="getKeys().length === 0">No roles available.</div>

<div *ngFor="let providerId of getKeys()" class="account-card">

    <div class="account-header">
        <h3>Provider: {{ providerId }}</h3>
    </div>

    <div class="role-list">
        <div *ngFor="let role of getRoles(providerId)" class="role-card">
            <p><strong>Account:</strong> {{ role.accountName || "Unknown" }} ({{ role.accountNumber }})</p>
            <p><strong>Role Name:</strong> {{ role.name }}</p>

            <button (click)="loginToAWS(providerId, role.roleArn)">Login</button>
        </div>
    </div>
</div>